<div class="about" id="about">

  <section >
    <div class="about__placing">
      <div>

        <h1 class="about__title">What We Do</h1>

        <div><img class="team__photo" src="./images/review/Team_1.webp" alt="photo__client" width="85"></div>

        <p class="about__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing magna elit. Vestibulum at scelerisque enim,
          mattis iaculis nisl. Duis
          id aliquam ipsum, et tristique lacus. Quisque sed tempus.
        </p>
      </div>

    </div>
  </section>

</div>