<div class="about" id="about">

  <section >
    <div class="about__placing">
      <div>

        <h1 class="about__title">What We Do</h1>
<!-- 
        <div><img class="team__photo" src="./images/review/Team_1.webp" alt="photo__client" width="85"></div> -->

        <p class="about__description">
          EasyTransferis a payment service that simplifies the payment process for freelancers worldwide. We understand how
          important it is for freelancers to have quick and effortless access to their funds. Our mission is to make this process
          as simple and convenient as possible.</br >
          
          With FreelancePay, you can expect the highest level of service and security. We offer a wide range of services,
          including instant money transfers to any part of the world, free access to payment tools, and personalized approach to
          each client.</br>
          
          Our experts are ready to assist you with any questions or issues. We work 24/7 to provide you with the fastest and most
          efficient service. Any financial transactions can be stressful, so we strive to make the payment process as easy and
          convenient for you as possible.</br>
          
          Our team of professionals is dedicated to ensuring your complete satisfaction. We are always ready to listen to your
          feedback and suggestions for improving our services. FreelancePay is not just a payment service, but your reliable
          partner in financial operations.
        </p>
      </div>

    </div>
  </section>

</div>