<div class="hero">
  <section class="inner">
    <div class="hero__placing">
      <div class="logo">
        <svg class="logo-icon">
          <use href="./images/logo.svg#icon-logo"></use>
        </svg>
      </div>
      <h1 class="hero__title">EasyTransfer</h1>

      <p class="hero__description">
        We is a payment service that helps freelancers receive payment for their work quickly and conveniently. Forget
        about complex international transfers and high bank fees. With FreelancePay, you can get your money without unnecessary
        delays and losses.
      </p>

      <div class="hero__buttons">
        <a class="products-btn link" href="#about">What We Do</a>
        <a class="products-btn link" href="#product">The Team</a>
        <a class="products-btn link" href="#donation">Donate</a>
      </div>
    </div>
  </section>
</div>
