<div class="team" id="product">
    <section >
        <div class="team__placing">
            <div>

                <h1 class="team__title">The Team</h1>

                <ul class="photos">
                    <li><img class="team__photo" src="./images/review/Team_1.webp" alt="photo__client" width="85"></li>
                    <li><img class="team__photo" src="./images/review/Team_2.webp" alt="photo__client" width="85"></li>
                    <li><img class="team__photo" src="./images/review/Team_3.webp" alt="photo__client" width="85"></li>
                    <li><img class="team__photo" src="./images/review/Team_4.webp" alt="photo__client" width="85"></li>
                </ul>
                <p class="team__description">
                    The EasyTransferteam is a group of experienced professionals in the fields of finance and information technology who
                    work together to provide our clients with the highest quality of service. Our team is dedicated to the development and
                    improvement of the payment platform, as well as ensuring fast and efficient support for our clients.</br> We strive to make
                    the payment process for freelancers as convenient and secure as possible.
                </p>

            </div>

        </div>
    </section>

</div>