<div class="team" id="product">
    <section >
        <div class="team__placing">
            <div>

                <h1 class="team__title">The Team</h1>

                <ul class="photos">
                    <li><img class="team__photo" src="./images/review/Team_1.webp" alt="photo__client" width="85"></li>
                    <li><img class="team__photo" src="./images/review/Team_2.webp" alt="photo__client" width="85"></li>
                    <li><img class="team__photo" src="./images/review/Team_3.webp" alt="photo__client" width="85"></li>
                    <li><img class="team__photo" src="./images/review/Team_4.webp" alt="photo__client" width="85"></li>
                </ul>
                <p class="team__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing magna elit. Vestibulum at scelerisque enim,
                    mattis iaculis nisl. Duis
                    id aliquam ipsum, et tristique lacus. Quisque sed tempus.
                </p>

            </div>

        </div>
    </section>

</div>