// background
.hero {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;

  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner {
  position: relative;
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-2vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo {
  padding-bottom: 20px;
}

.logo-icon {
  display: block;
  fill: #f8d24e;
  height: 90px;
  width: 90px;
}

.hero__placing {
  width: 1300px;
  padding: 126px 90px;
}

.hero__title {
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  font-size: 3.5em;
  line-height: 1.25;
  font-weight: 400;

  padding-bottom: 32px;

  // @include tablet {
  //     padding-bottom: 24px;
  // }

  // @include desctop {
  //     font-size: 38px;
  //     line-height: calc(48 / 38);
  // }
}

.hero__description {
  padding-bottom: 40px;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5em;
  line-height: 1.75;
  font-weight: 400;
}

.hero__buttons {
  padding-bottom: 65px;

  // @include tablet {
  //     padding-bottom: 12px;
  // }

  // @include desctop {
  //     padding-bottom: 42px;
  // }
}

.products-btn {
  border: 1.5px solid #ffffff;
  padding: 18px 26px;
  margin-right: 20px;

  color: #ffffff;

  font-weight: 400;
  font-size: 1.5em;
  line-height: calc(15 / 12);

  &:hover,
  &:focus {
    border: 1.5px solid #f8d24e;
    color: #f8d24e;
  }
  &:disabled {
    border: 1.5px solid #f8d24e;
    color: #f8d24e;
  }
}
